# Python
__pycache__/
*.py[cod]
venv/
venv310/
.pytest_cache/
*.egg-info/
build/
dist/
.mypy_cache/
.coverage
htmlcov/

# Backend build artifacts
backend/package/
backend/function.zip

# Ignore all dotenv files…
.env*
# …except our example/template
!.env.example

# Node/Frontend
node_modules/
frontend/dist/
amplify/.build/
build/
*.log

# System
.DS_Store